[Unit]
Description=App Service
 
[Service]
Environment="Threads=100"
Environment="SECRET_KEY_BASE="123"
Environment="RAILS_ENV=production"
Environment="RAILS_LOG_TO_STDOUT=1"
Environment="DB_HOST=192.168.56.41"
Environment="DB_PORT=5432"
Environment="DB_NAME=appdb"
Environment="DB_USER=dbuser"
Environment="DB_PASSWORD=dbuserpass123#"

ExecStart=dll
WorkingDirectory=/opt/appsoft/
User=appuser
Group=appuser
#Restart=on-failure
Restart=always
SyslogIdentifier=app-service
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target